[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Rr]elease/
[Rr]eleases/
[Ll]ogs
.svn/
Documents/

Assets/data
Assets/Resources
Tools/release
Tools/Heaven Gate/Windows/imgui.ini

Assets/data.meta
Assets/code.meta
Assets/Resources.meta

Assets/AddressableAssetsData
Assets/AddressableAssetsData.meta

Assets/StreamingAssets/build_info
Assets/StreamingAssets/build_info.meta

Assets/AssetStoreTools*
Assets/Resources/Storys/AutoSave~
/Config

# Auto Generation
EditorBuildSettings.asset

# NuGet Packages Directory
Tools/UnitySceneLookupGenerator/packages/*

# Spine
spine-unity.csproj
spine-unity-editor.csproj

Assets/StreamingAssets/aa.meta

# Project
[Hh]ippocampus.sln
Assembly-CSharp-Editor-firstpass-vs.csproj
Assembly-CSharp-Editor-firstpass.csproj
Assembly-CSharp-Editor-firstpass.pidb
Assembly-CSharp-Editor-vs.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-Editor.pidb
Assembly-CSharp-firstpass-vs.csproj
Assembly-CSharp-firstpass.csproj
Assembly-CSharp-firstpass.pidb
Assembly-CSharp-vs.csproj
Assembly-CSharp.csproj
Assembly-CSharp.pidb
Assembly-UnityScript-Editor-firstpass-vs.unityproj
Assembly-UnityScript-Editor-firstpass.pidb
Assembly-UnityScript-Editor-firstpass.unityproj
Assembly-UnityScript-Editor-vs.unityproj
Assembly-UnityScript-Editor.pidb
Assembly-UnityScript-Editor.unityproj
Assembly-UnityScript-firstpass-vs.unityproj
Assembly-UnityScript-firstpass.pidb
Assembly-UnityScript-firstpass.unityproj
AssetBundleManager.csproj

# Visual Studio cache directory
.vs/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
# *.csproj
*.unityproj
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta

# Unity3D Generated File On Crash Reports
sysinfo.txt

# Builds
*.apk
*.unitypackage

.vs/
.idea/
.vscode/
_NCrunch_GitHub.Unity
*.user
.DS_Store
build/
TestResult.xml
submodules/
*.stackdump
*.lastcodeanalysissucceeded

# Mac bundle stuff
*.dmg
*.app

# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini
Assets/StreamingAssets/Data
Assets/StreamingAssets/com.unity.addressables
Assets/StreamingAssets/build_info
Tools/Open Unity Hub With Proxy.cmd
AmplifyShaderEditor.csproj

